.card {
  padding: 1rem;
}

.img-assets {
  margin: 1rem;
  max-width: 400px;
  width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 979px) {
  .details {
    flex-direction: column;
    padding: 0.3rem;
  }
}
